body {
	font-family: "Berkshire Swash", cursive;
	background-color: lightblue;
}

#navigation {
	width: 15%;
	float: left;
}

.nav_item:hover, .nav_item:active, .nav_item:focus{
	background-color: rgb(255, 0, 251);
}
