body {
	font-family: "Berkshire Swash", cursive;
	background-color: lightblue;
}

#navigation {
	width: 15%;
	float: left;
}

.nav_item:hover, .nav_item:active, .nav_item:focus {
	background-color: rgb(0, 0, 255);
	color: rgb(255, 255, 255);
}

.nav_item:visited, .nav_item:link {
	color: rgb(0, 0, 255);
}
