body {
	font-family: "Berkshire Swash", cursive;
	background-color: lightblue;
	color: black;
}

#navigation {
	float: left;
	padding-right: 15px;
}

.nav_item:hover, .nav_item:active, .nav_item:focus {
	background-color: rgb(0, 0, 255);
	color: rgb(255, 255, 255) !important;
}

.nav_item:visited, .nav_item:link {
	color: rgb(0, 0, 255);
}

a:visited, a:link {
	color: rgb(0, 0, 255);
}

.error {
	float: right;
	width: 100vh - 175;
}